[submodule "Assets/Modules/Database/.CodeGenerator"]
	path = Assets/Modules/Database/.CodeGenerator
	url = https://github.com/PavelZinchenko/DatabaseCodeGenerator
[submodule "Assets/Modules/Database/.Editor"]
	path = Assets/Modules/Database/.Editor
	url = https://github.com/PavelZinchenko/EventHorizon-Editor
[submodule "Assets/ModulesPrivate"]
	path = Assets/ModulesPrivate
	url = https://github.com/PavelZinchenko/event-horizon-private-stuff
[submodule "Assets/ExpressionParser"]
	path = Assets/ExpressionParser
	url = https://github.com/PavelZinchenko/Expression-Parser
[submodule "Assets/Modules/GameSession/.CodeGenerator"]
	path = Assets/Modules/GameSession/.CodeGenerator
	url = https://github.com/PavelZinchenko/event-horizon-session-code-generator
