:root {
    --normal-text-color: rgb(128, 255, 255);
    --icon-color: rgb(80, 192, 255);
    --panel-color: rgb(80, 192, 255);
    --button-focus-color-normal: rgba(80, 192, 255, 0);
    --button-focus-color-hover: rgba(80, 192, 255, 0.15);
    --button-focus-color-active: rgba(80, 192, 255, 0.25);
    --button-focus-color-selected: rgba(80, 192, 255, 0.3);
    --text-outline-color: rgba(0, 0, 0, 0.5);
    --common-font: url('project://database/Assets/Fonts/Exo2-Regular.asset');
}
