:root {
    -unity-font-definition: url('project://database/Assets/Fonts/Bicubik.asset');
}

.unity-ui-document__root {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.unity-base-field {
    flex-direction: row;
    overflow: hidden;
    flex-shrink: 0;
}

.unity-base-field__input {
    flex: 1 0 0;
    overflow: hidden;
}

.unity-text-element {
    font-size: 24px;
    color: var(--normal-text-color);
}
