<#@ template language="C#" #>
<#@ include file="GeneratedCodeWarning.tt" #>

using System;

namespace <#= Utils.RootNamespace #>
{
    public class DatabaseException : Exception
    {
        public DatabaseException()
        {
        }

        public DatabaseException(string message)
            : base(message)
        {
        }

        public DatabaseException(string message, Exception inner)
            : base(message, inner)
        {
        }
    }
}
